@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 120px;
}

.logo a{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 24px;
}

.header-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 16px;
    margin-right: 120px;
    flex: 0 0 auto;
}

.header-links a{
    font-size: 18px;
    color: #E5E7EB
}

.container{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    gap: 64px;
    align-items: center;
    height: 400px;
}

.hero{
    color: #F9FAF8;
    width: 400px;
}

.hero .text{
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}

.hero .subtext{
    font-size: 18px;
}

.sign-up{
    background-color: #3882F6;
    color:white;
    padding: 8px 16px;
    border-radius: 8px;
    border-width: 0px;
}

.container img{
    width: 480px;
    height: auto;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.box{
    border-radius: 16px;
    border: 2px solid#3882F6;
    width: 180px;
    height: 180px;
}

.info-row{
    display: flex;
    justify-content: center;
    gap: 36px;
    flex: 1 0 auto;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 200px;
    flex-direction: 0 0 auto;
}

.info-subtext{
    font-size: 18px;
    color: gray;
    text-align: center;
}